<!DOCTYPE html>
<html lang="en">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Shortcut Icon" href="{{ url_for('static', filename='AP-Icon.png') }}">
    <head>
        <title>Abhish4ck Protocol Faucet Claim.</title>
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: Nunito;
            }

            body {
                background-color: #FFE8B6;
            }
        </style>
    </head>
    <body>
        <header style="display: flex; box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.523); position: fixed; top: 0; left: 0; right: 0; height: 65px; color: whitesmoke; background-color: #5B913B; align-items: center; justify-content: space-between; padding-left: 20px; padding-right: 20px;">
            <h1 style="font-family: monospace;">Abhis<span style="color: lime; font-family: monospace;">h4ck</span> Protocol</h1>
        </header>
        <div class="Main-Container" style="margin-top: 65px; padding-top: 40px;">
            {% set txs = txs|dictsort(reverse=true) %}
            {% for number, tx in txs.items() %}
            <div style="border-radius: 10px; margin-bottom: 20px; border: none; width: calc(100% - 40px); margin-left: 20px; margin-right: 20px; background-color: #77B254; color: whitesmoke; padding: 10px;">
                <h3>Faucet Claim Successful!</h3>
                <p style="color: rgb(236, 223, 223); font-size: 1rem;">(On {{ tx['date'] }} At {{ tx['time'] }})</p><br>
                <p style="color: rgb(236, 223, 223); word-wrap: break-word;">Txhash: {{ tx['txhash'] }}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
